<app-header></app-header>
<router-outlet></router-outlet>

<div class="test">
  Active: {{ activeClass }}
</div>

<div class="home" *ngIf="activeClass === 'Home'">
  <div *ngFor="let className of classes; let i = index" [hidden]="i === 0" class="flex-home">
    <div class="position-relative h-100">
      <img src="/images/d4-classes-background.jpg" alt="Diablo 4 background" height="100%" width="100%" class="home-images"
           (click)="logClick(); setActive(className, $event)"/>
      <div class="position-absolute class-sprite">
        <img [src]="className.sprite" [alt]="className.name" height="100%" width="16%" class="home-images"
             (click)="logClick(); setActive(className, $event)"/>
      </div>
    </div>

    <div class="position-absolute top-75">
      <div class="text-white">
        <h3>{{ className.name }}</h3>
      </div>

        <button class="show-button" (click)="logClick(); setActive(className, $event)">
          <strong>Select</strong>
        </button>
    </div>
  </div>
</div>

<div class="class-info" *ngIf="activeClass !== 'Home'">
  <div class="main-background-classes position-absolute w-100">
    <img src="/images/d4-classes-background.jpg" alt="Diablo 4 background" height="100%" width="100%">
  </div>

  <div class="sprite-container z-0" [style.transform]="'translateX(' + translateX + 'px) translateY(' + translateY + 'px)'">
    <img [src]="activeClassSprite" [alt]="activeClass" height="100%" width="100%">
  </div>

  <div class="container container-flexed-center">
    <div class="row my-5">
      <div class="col-sm-12 col-md-5 z-2">
        <div class="flex-between">
          <div *ngFor="let className of classes; let i = index" [hidden]="i === 0" class="class-list">
            <img [src]="className.icon" [alt]="className.name" height="50px" width="50px" class="mb-2"
                 (click)="logClick(); setActive(className, $event)"/>
          </div>
        </div>

        <div class="class-description">
          <div class="flex-container-center">
            <div class="my-4" [routerLinkActive]="['d-none']">
              <h2>{{ activeClass }}</h2>
              <p>{{ activeClassDescription }}</p>
            </div>

            <div class="mt-5 d-flex">
              <div class="button-contain me-5">
                <button [routerLink]="['/builds']" routerLinkActive class="show-button">
                  <strong>Builds</strong>
                </button>
              </div>

              <div class="button-contain">
                <button [routerLink]="['/uniques']" routerLinkActive class="show-button">
                  <strong>Uniques</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
  <app-sidebar></app-sidebar>
</div>

<app-footer></app-footer>
